<#@ Template Debug="False" Hostspecific="True" Language="C#" #>
<#@ Output Extension=".txt" #>
<#@ Assembly Name="$(ProjectDir)bin\Debug\AIT.TransformVisualStudioTextTemplates.Tests.dll" #>
<#@ Import Namespace="System.CodeDom.Compiler" #>
<#@ Import Namespace="System.Reflection" #>
<#@ Import Namespace="AIT.TransformVisualStudioTextTemplates.Tests" #>
<#= HelperClass.GetResult() #>