<#@ Template Debug="False" Hostspecific="True" Language="C#" #>
<#@ Output Extension=".txt" #>
<#@ Assembly Name="$(SolutionDir)VisualStudioTextTransform.Tests\bin\Debug\AIT.Tools.VisualStudioTextTransform.Tests.dll" #>
<#@ Import Namespace="System.CodeDom.Compiler" #>
<#@ Import Namespace="System.Reflection" #>
<#@ Import Namespace="AIT.Tools.VisualStudioTextTransform.Tests" #>
<#= HelperClass.GetResult() #>